<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>373789498846-g9jqgvr1o20ojffl49irpg70rbvi3svb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.373789498846-g9jqgvr1o20ojffl49irpg70rbvi3svb</string>
	<key>API_KEY</key>
	<string>AIzaSyDdUHZRh2JbmQITvtQ27vibGKwZ29UJlAQ</string>
	<key>GCM_SENDER_ID</key>
	<string>373789498846</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatapp</string>
	<key>PROJECT_ID</key>
	<string>chatting-17f79</string>
	<key>STORAGE_BUCKET</key>
	<string>chatting-17f79.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:373789498846:ios:c24f55be185efd6f57514f</string>
</dict>
</plist>